<!-- if statement, if title then display title, else redirect -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <!-- message -->
    <%- messages() %>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <% if (error.msg != "Invalid value") { %>
            <li><%= error.msg %></li>
        <% } %>
    <%  }) %>
    </ul>
    <% } %>
    
<!-- Update display -->
<div class="update-account">
    <form id="accountUpdate" action="/account/update" method="post">
        <!-- <h2>Edit Account</h2> -->
        
        <label for="account_firstname" class="register">First name:</label>
        <input type="text" class="register" name="account_firstname" id="account_firstname" placeholder="Your name" required value="<%= locals.account_firstname %>">
        
        <label for="account_lastname" class="register">Last name:</label>
        <input type="text" class="register" name="account_lastname" id="account_lastname" placeholder="Your last name" required value="<%= locals.account_lastname %>">
        
        <label for="account_email" class="register">Email:</label>
        <input type="email" class="register" name="account_email" id="account_email" placeholder="email@domain.com" required value="<%= locals.account_email %>">
        
        <button type="submit">Update</button>
        
        <input type="hidden" name="account_id"
        <% if(locals.account_id) {%> value="<%= locals.account_id %>"
        <% } %>>
        
    </form>
    
    <h3>Update Password</h3>
    <p>Passowords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character.</p>
    <p>*note your original passowrd will be change.</p>
    <form id="changePassword" action="/account/changepassword" method="post">
        <label class="register" for="account_password">Password</label>
        <input class="register" type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" name="account_password" id="account_password" placeholder="Password" required>

        <p>Password must be at least 12 characters and include 1 capital letter, 1 number and 1 special character.</p>
            
        <input type="hidden" name="account_id"
        <% if(locals.account_id) {%> value="<%= locals.account_id %>"
        <% } %>>

        <span id="pswdBtn">Show password</span>
        <button type="submit">Change Password</button>
    </form>
</div>

